/**
* CSS file to hold styles that apply across the application
*/

/*@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap");*/

/*@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');*/

/*@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');*/

@import url('https://www.w3schools.com/w3css/4/w3.css');

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700i,900i');

html,
body {
    font-family: 'Playfair Display', serif;
    color: rgba(172,170,190, 1);
    text-rendering: optimizeLegibility;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #3b3d54;
    font-size: 14px;
}

div#main {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 500px) {
    .div#main {
        display: flex;
        flex-direction: column;
        width: 5%
    }
}

section {
    position: relative;
}

    section.dark {
        min-height: 100vh;
        color: white;
        background: rgba(0, 0, 0, 0.25);
    }

    section.light {
        color: black;
        background: rgba(255, 255, 255, 0.35);
        padding: 8rem 0;
    }

    section img.background {
        width: 100vmax;
        height: 100%;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        pointer-events: none;
        object-fit: cover;
    }

.wrap {
    perspective-origin: 50% 50%;
}

.page {
    margin: 3%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 3px;
    text-align: center;
    font-size: 1.4vw;
}

    .page h2 {
        font-weight: bold;
        font-size: 6.5vw;
        font-weight: 900;
        font-style: italic;
        color: #dad8ec;
    }

    .page h1 {
        font-weight: lighter;
        font-size: 3.5vw;
        font-weight: 900;
        font-style: revert;
        color: #7ceaa4;
        font-family: 'Playfair Display', sans-serif;
    }

@media screen and (max-width: 400px) {
    .page h2 {
        font-weight: lighter;
        font-size: 20.5vw;
        font-weight: 900;
        font-style: revert;
        color: #dad8ec;
    
    }
}

@media screen and (max-width: 400px) {
    .page h1 {
        font-weight: lighter;
        font-size: 8.5vw;
        font-weight: 900;
        font-style: revert;
        color: #7ceaa4;
        margin-top: 35vw;
        font-family: 'Playfair Display', sans-serif;
    }
}

    .page p {
        font-weight: lighter;
        font-size: 3.5vw;
        font-weight: 900;
        font-style: revert;
        color: #7ceaa4;
    }

body h2 {
    font-weight: 900;
    font-size: 2.5vw;
    font-style: italic;
    color: #7ceaa4;
    font-family: 'Playfair Display', sans-serif !important
}

body h1 {
    font-weight: 900;
    font-size: 12.5vw;
    font-style: italic;
    color: #7ceaa4;
    font-family: 'Playfair Display', sans-serif !important;
}

body p {
    font-size: 1.2vw;
    font-style: italic;
    color: #dad8ec;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Playfair Display', sans-serif;
}

@media screen and (max-width: 400px) {
    body h1, body h2, body p {
        font-weight: 900;
        font-size: 5.5vw;
        font-style: italic;
    }

    body h1 {
        color: #7ceaa4;
    }

    body h2 {
        color: #7ceaa4;
    }
}

@media screen and (max-width: 912px) {
    body h1, body h2, body p {
        font-weight: 900;
        font-size: 3.5vw;
        font-style: italic;
    }

    body h1 {
        color: #7ceaa4;
    }

    body h2 {
        color: #7ceaa4;
    }
}

@media screen and (max-width: 1024px) {
    body h1, body h2, body p {
        font-weight: 900;
        font-size: 3.5vw;
        font-style: italic;
    }

    body h1 {
        color: #7ceaa4;
    }

    body h2 {
        color: #7ceaa4;
    }
}

hr {
    margin: 2.5rem;
}

li {
    line-height: 1.7;
}

    li::marker {
        color: #4e567e;
    }

a {
    text-decoration: none;
    color: black;
}

    a:hover {
        color: #4e567e;
    }

.portfolio-container {
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
}

@media screen and (max-width: 420px) {
    .portfolio-container {
        flex-direction: column;
    }
}

.portfolio-hero {
    max-width: 40%;
    align-self: center;
}

@media screen and (max-width: 420px) {
    .portfolio-hero {
        max-width: 100%;
        align-self: center;
    }
}

.container {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 330px 300px;
    grid-gap: 20px;
}

@media screen and (max-width: 420px) {
    .container {
        margin: 20px auto;
        display: inline;
        grid-template-columns: 330px 300px;
        grid-gap: 20px;
    }
}

.container .box {
    border-radius: 10px;
    padding: 24px 16px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid rgb(204, 204, 204);
    text-align: center;
}

img.social-icon {
    width: 30px;
    height: 30px;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }


.bg-image {
    /* Add the blur effect */
    filter: blur(2px);
    -webkit-filter: blur(2px);
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.svg {
    stroke: #7ceaa4;
    position: absolute;
    bottom: -100vh;
    transform-style: preserve-3d;
}

    .svg:nth-child(1) {
        left: 56%;
        -webkit-animation: raise1 18s linear infinite;
        animation: raise1 18s linear infinite;
        -webkit-animation-delay: -4s;
        animation-delay: -4s;
        transform: scale(-0.3) rotate(216deg);
        z-index: -6;
        filter: blur(-5px);
    }

@-webkit-keyframes raise1 {
    to {
        bottom: 150vh;
        transform: scale(-0.3) rotate(101deg);
    }
}

@keyframes raise1 {
    to {
        bottom: 150vh;
        transform: scale(-0.3) rotate(101deg);
    }
}

.svg:nth-child(2) {
    left: 88%;
    -webkit-animation: raise2 21s linear infinite;
    animation: raise2 21s linear infinite;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    transform: scale(0) rotate(229deg);
    z-index: -5;
    filter: blur(-4px);
}

@-webkit-keyframes raise2 {
    to {
        bottom: 150vh;
        transform: scale(0) rotate(37deg);
    }
}

@keyframes raise2 {
    to {
        bottom: 150vh;
        transform: scale(0) rotate(37deg);
    }
}

.svg:nth-child(3) {
    left: 53%;
    -webkit-animation: raise3 20s linear infinite;
    animation: raise3 20s linear infinite;
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    transform: scale(0.3) rotate(49deg);
    z-index: -4;
    filter: blur(-3px);
}

@-webkit-keyframes raise3 {
    to {
        bottom: 150vh;
        transform: scale(0.3) rotate(283deg);
    }
}

@keyframes raise3 {
    to {
        bottom: 150vh;
        transform: scale(0.3) rotate(283deg);
    }
}

.svg:nth-child(4) {
    left: 96%;
    -webkit-animation: raise4 9s linear infinite;
    animation: raise4 9s linear infinite;
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    transform: scale(0.6) rotate(27deg);
    z-index: -3;
    filter: blur(-2px);
}

@-webkit-keyframes raise4 {
    to {
        bottom: 150vh;
        transform: scale(0.6) rotate(132deg);
    }
}

@keyframes raise4 {
    to {
        bottom: 150vh;
        transform: scale(0.6) rotate(132deg);
    }
}

.svg:nth-child(5) {
    left: 33%;
    -webkit-animation: raise5 20s linear infinite;
    animation: raise5 20s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    transform: scale(0.9) rotate(24deg);
    z-index: -2;
    filter: blur(-1px);
}

@-webkit-keyframes raise5 {
    to {
        bottom: 150vh;
        transform: scale(0.9) rotate(265deg);
    }
}

@keyframes raise5 {
    to {
        bottom: 150vh;
        transform: scale(0.9) rotate(265deg);
    }
}

.svg:nth-child(6) {
    left: 53%;
    -webkit-animation: raise6 13s linear infinite;
    animation: raise6 13s linear infinite;
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    transform: scale(1.2) rotate(35deg);
    z-index: -1;
    filter: blur(0px);
}

@-webkit-keyframes raise6 {
    to {
        bottom: 150vh;
        transform: scale(1.2) rotate(163deg);
    }
}

@keyframes raise6 {
    to {
        bottom: 150vh;
        transform: scale(1.2) rotate(163deg);
    }
}

.svg:nth-child(7) {
    left: 37%;
    -webkit-animation: raise7 14s linear infinite;
    animation: raise7 14s linear infinite;
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    transform: scale(1.5) rotate(113deg);
    z-index: 0;
    filter: blur(1px);
}

@-webkit-keyframes raise7 {
    to {
        bottom: 150vh;
        transform: scale(1.5) rotate(279deg);
    }
}

@keyframes raise7 {
    to {
        bottom: 150vh;
        transform: scale(1.5) rotate(279deg);
    }
}

.svg:nth-child(8) {
    left: 72%;
    -webkit-animation: raise8 10s linear infinite;
    animation: raise8 10s linear infinite;
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    transform: scale(1.8) rotate(12deg);
    z-index: 1;
    filter: blur(2px);
}

@-webkit-keyframes raise8 {
    to {
        bottom: 150vh;
        transform: scale(1.8) rotate(230deg);
    }
}

@keyframes raise8 {
    to {
        bottom: 150vh;
        transform: scale(1.8) rotate(230deg);
    }
}

.svg:nth-child(9) {
    left: 37%;
    -webkit-animation: raise9 19s linear infinite;
    animation: raise9 19s linear infinite;
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    transform: scale(2.1) rotate(50deg);
    z-index: 2;
    filter: blur(3px);
}

@-webkit-keyframes raise9 {
    to {
        bottom: 150vh;
        transform: scale(2.1) rotate(53deg);
    }
}

@keyframes raise9 {
    to {
        bottom: 150vh;
        transform: scale(2.1) rotate(53deg);
    }
}

.svg:nth-child(10) {
    left: 0%;
    -webkit-animation: raise10 21s linear infinite;
    animation: raise10 21s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    transform: scale(2.4) rotate(10deg);
    z-index: 3;
    filter: blur(4px);
}

@-webkit-keyframes raise10 {
    to {
        bottom: 150vh;
        transform: scale(2.4) rotate(313deg);
    }
}

@keyframes raise10 {
    to {
        bottom: 150vh;
        transform: scale(2.4) rotate(313deg);
    }
}
