@inject NavigationManager MyNavigationManager

<div id="header" >
    <a href="#home" class="@GetActiveClass("#home")" @onclick='() => SetActive("#home")'>Home</a>
    <a href="#about" class="@GetActiveClass("#about")" @onclick='() => SetActive("#about")'>About</a>
    <a href="#portfolio" class="@GetActiveClass("#portfolio")" @onclick='() => SetActive("#portfolio")'>Portfolio</a>
    <a href="#contact" class="@GetActiveClass("#contact")" @onclick='() => SetActive("#contact")'>Contact</a>
</div>


@code {
    private string ActiveHash { get; set; } = "#home";

    private string GetActiveClass(string hash)
    {
        return ActiveHash == hash ? "active w3-bar-item w3-button w3-hover-none" : "w3-bar-item w3-button w3-hover-none";
    }

    private void SetActive(string hash)
    {
        ActiveHash = hash;
        MyNavigationManager.NavigateTo(MyNavigationManager.Uri.Split('?')[0] + hash);

        StateHasChanged();
    }
}
