<div id="header" class="w3-bar">
    <a href="#home" target="_top" class="w3-bar-item w3-button w3-hover-none w3-hover-border-green">Home</a>
    <a href="#about" target="_top" class="w3-bar-item w3-button w3-hover-none w3-hover-border-green">About</a>
    <a href="#portfolio" target="_top"  class="w3-bar-item w3-button w3-hover-none w3-hover-border-green">Portfolio</a>
    <a href="#contact" target="_top"  class="w3-bar-item w3-button w3-hover-none w3-hover-border-green">Contact</a>
</div>